if SHIELD_MONA_L

config ZMK_KEYBOARD_NAME
    default "moNa_L"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MONA_R

config ZMK_KEYBOARD_NAME
    default "moNa_R"

config ZMK_SPLIT
    default y

endif
